body {
    font-family: "Roboto",sans-serif;
    line-height: 1.7;
    color: #333;
    background-color: #f5f5f5;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    font-size: 2.8rem;
    color: #1a73e8;
}

main {
    max-width: 580px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 50px;
}

h2 {
    font-size: 2rem;
    color: #1a73e8;
    margin-bottom: 15px;
}

h3 {
    font-size: 1.6rem;
    color: #1a73e8;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

img {
    max-width: 100%;
    height: auto;
}

blockquote {
    border-left: 4px solid #1a73e8;
    padding-left: 15px;
    font-style: italic;
    color:  #3f3d3d;
    margin: 25px 0;
    background-color: #f0f4ff;
    border-radius: 4px;
}

blockquote footer {
    display: block;
    margin-top: 8px;
    font-size: 0.9rem;
    color: #3f3d3d;
}

ul {
    margin: 20px 0;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    header h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    main {
        padding: 20px;
    }
}